@use 'variables';

*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: variables.$montserrat;
    line-height: 1.8;
    font-size: 1em;
    color: variables.$royalblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: variables.$blackrussian;
    font-family: inherit;
}