@use 'variables';
@use 'mixins';

// member group
.member__group_item {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;

    @include mixins.md {
        width: 50%;
    }

    @include mixins.xl {
        width: 33.33333%;
    }

    img {
        border-radius: 50%;
        display: block;
        height: auto;
        max-width: 40%;
    }

    .member__group_name {
        padding-top: 1em;
        font-weight: 600;
        color: variables.$white;
        font-size: 1.5em;
    }

    .member__group_metadata {
        position: relative;

        .member__group_metadata__role {
            color: variables.$white;
            font-size: 1.25em;
        }
    }
}