@use 'variables';
@use 'mixins';

.site__menu_is__open {
    overflow: hidden;
}

.site__header {
    background-color: variables.$sapphire;
    width: 100%;
    padding: 20px 0;

    .site__header_container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .site__header_nav {
            display: none;

            @include mixins.lg {
                justify-content: flex-end;
                display: flex;
                flex: 2 auto;
            }

            .site__header_nav_list {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;


                .site__header_nav_item {
                    padding: 0 0.5em;
                }

                .site__header_nav_link {
                    padding: 8px 15px;
                    color: variables.$white;;
                    text-decoration: none;
                    display: inline-block;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


//! fixed effect, maybe
.site__header.fixed {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0, -200px);
    transform: translate(0, -200px);
}

.site__header.fixed .site__header_nav .site__header_nav_list .site__header_nav_item:not(:last-child) .site__header_nav_link,
.site__header.fixed .site__header_logo .site__header_link {
    color: #0a0918;
}

.site__header.fixed .site__header_nav .site__header_nav_list .site__header_nav_item:not(:last-child) .site__header_nav_link:hover,
.site__header.fixed .site__header_logo .site__header_link:hover {
    color: #2B50EC;
}

.site__header.in-view {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

// end



.site__header_menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex: 2 auto;
    flex: 2 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 992px) {
    .site__header_menu {
        display: none;
    }
}

.site__header_menu .site__header_menu_checkbox {
    display: none;
}

.site__header_menu .site__header_menu_checkbox:checked~.site__header_menu_background {
    -webkit-transform: scale(100);
    transform: scale(100);
}

.site__header_menu .site__header_menu_checkbox:checked~.site__header_menu_nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: initial;
    opacity: 1;
}

.site__header_menu .site__header_menu_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.site__header_menu .site__header_menu_background {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#131B56), to(#2B50EC));
    background-image: linear-gradient(to right bottom, #131B56, #2B50EC);
    z-index: 10;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    visibility: 0;
}

.site__header_menu .site__header_menu_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 11;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in, -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: opacity 0.8s ease-in, -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.site__header_menu .site__header_menu_list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    list-style: none;
}

.site__header_menu .site__header_menu_item {
    margin: 1rem;
    counter-increment: list;
}

.site__header_menu .site__header_menu_link::before {
    content: "0" counters(list, "");
    padding-right: 1.2rem;
}

.site__header_menu .site__header_menu_link:link,
.site__header_menu .site__header_menu_link:visited {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 230%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.site__header_menu .site__header_menu_link:hover,
.site__header_menu .site__header_menu_link:active {
    color: #131B56;
    background-position: 100%;
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
}

.site__header_menu .site__header_menu_icon {
    display: inline-block;
    position: relative;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.site__header_menu .site__header_menu_icon .site__header_menu_span {
    position: absolute;
    height: 5px;
    width: 50%;
    background-color: #131B56;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(even) {
    left: 50%;
    border-radius: 0 0.7rem 0.7rem 0;
}

.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(odd) {
    left: 0;
    border-radius: 0.7rem 0 0 0.7rem;
}

.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(1),
.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(2) {
    -webkit-transform: translateY(-0.625rem);
    transform: translateY(-0.625rem);
}

.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(5),
.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(6) {
    -webkit-transform: translateY(0.625rem);
    transform: translateY(0.625rem);
}

.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(1),
.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(2),
.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(2),
.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(6) {
    -webkit-transform-origin: left;
    transform-origin: left;
}

.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(1),
.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(5) {
    -webkit-transform-origin: right;
    transform-origin: right;
}

.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button .site__header_menu_span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.site__header_menu .site__header_menu_button:hover .site__header_menu_span:nth-child(3) {
    -webkit-transform: translateX(-0.2rem) scale(1.05);
    transform: translateX(-0.2rem) scale(1.05);
}

.site__header_menu .site__header_menu_button:hover .site__header_menu_span:nth-child(4) {
    -webkit-transform: translateX(0.2rem) scale(1.05);
    transform: translateX(0.2rem) scale(1.05);
}

.site__header_menu .site__header_menu_checkbox:checked+.site__header_menu_button:hover .site__header_menu_icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

