@use 'variables';
@use 'mixins';

.site__menu_is__open {
    overflow: hidden;
}

.site__header {
    background-color: variables.$white;
    width: 100%;
    padding: 20px 0;

    .site__header_container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .site__header_nav {
            display: none;

            @include mixins.lg {
                justify-content: flex-end;
                display: flex;
                flex: 2 auto;
            }

            .site__header_nav_list {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;

                .site__header_nav_item {
                    padding: 0 1.5em;

                    .site__header_nav_link {
                        padding: 0;
                        font-weight: 600;
                        color: variables.$sapphire;
                        text-decoration: none;
                        display: inline-block;
                        border-bottom: solid 2px transparent;

                        &:hover,
                        &:focus {
                            cursor: pointer;
                            border-bottom: solid 2px;
                        }
                    }
                }
            }
        }

        .site__header_menu {
            justify-content: flex-end;
            display: flex;
            flex: 2 auto;
            align-items: center;

            @include mixins.lg {
                display: none;
            }

            .site__header_menu_checkbox {
                display: none;

                &:checked {
                    ~.site__header_menu_background {
                        transform: scale(100);
                    }

                    ~.site__header_menu_nav {
                        transform: translateX(0);
                        visibility: initial;
                        opacity: 1;
                    }

                    +.site__header_menu_button {
                        .site__header_menu_span {

                            &:nth-child(1),
                            &:nth-child(5) {
                                transform-origin: right;
                            }

                            &:nth-child(1),
                            &:nth-child(6) {
                                transform: rotate(45deg);
                            }

                            &:nth-child(2),
                            &:nth-child(5) {
                                transform: rotate(-45deg);
                            }

                            &:nth-child(2),
                            &:nth-child(6) {
                                transform-origin: left;
                            }

                            &:nth-child(3) {
                                left: -50%;
                                opacity: 0;
                            }

                            &:nth-child(4) {
                                left: 100%;
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            .site__header_menu_button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: variables.$white;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
                cursor: pointer;
                z-index: 12;
                display: flex;
                align-content: center;
                justify-content: center;

                &:hover {
                    .site__header_menu_icon {
                        transform: rotate(180deg);
                    }

                    .site__header_menu_span {
                        &:nth-child(3) {
                            transform: translateX(-0.2rem) scale(1.05);
                        }

                        &:nth-child(4) {
                            transform: translateX(0.2rem) scale(1.05);
                        }
                    }
                }

                .site__header_menu_icon {
                    display: inline-block;
                    position: relative;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    transition: transform 0.25s ease-in-out;

                    .site__header_menu_span {
                        position: absolute;
                        height: 5px;
                        width: 50%;
                        background-color: variables.$blackrussian;
                        transition: all 0.5s ease-in;

                        &:nth-child(even) {
                            left: 50%;
                            border-radius: 0 0.7rem 0.7rem 0;
                        }

                        &:nth-child(odd) {
                            left: 0;
                            border-radius: 0.7rem 0 0 0.7rem;
                        }

                        &:nth-child(1),
                        &:nth-child(2) {
                            transform: translateY(-0.625rem);
                        }

                        &:nth-child(5),
                        &:nth-child(6) {
                            transform: translateY(0.625rem);
                        }
                    }
                }
            }

            .site__header_menu_background {
                position: absolute;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-image: linear-gradient(to right bottom, variables.$blackrussian, variables.$sapphire);
                z-index: 10;
                transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
                visibility: 0;
            }
        }

        .site__header_menu_nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            z-index: 11;
            transform: translateX(-50%);
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            .site__header_menu_list {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                list-style: none;

                .site__header_menu_item {
                    margin: 1rem;
                    counter-increment: list;

                    .site__header_menu_link {
                        &::before {
                            content: '0' counters(list, '');
                            padding-right: 1.2rem;
                        }

                        &:link,
                        &:visited {
                            display: inline-block;
                            font-size: 2.5rem;
                            font-weight: 300;
                            padding: 1rem 1.5rem;
                            color: variables.$white;
                            text-decoration: none;
                            text-transform: uppercase;
                            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, variables.$white 50%);
                            background-size: 230%;
                            transition: all 0.4s;
                        }

                        &:hover,
                        &:active {
                            color: variables.$blackrussian;
                            background-position: 100%;
                            transform: translateX(1rem);
                        }
                    }
                }
            }
        }
    }
}