@use 'variables';
@use 'mixins';

.member__section {
    padding: 4em 0;
    width: 100%;
    background-color: variables.$sapphire;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .member__section_container {
        position: relative;

        .member__section_title {
            font-size: 2.5em;
            color: variables.$white;
            padding-bottom: 1em;
            z-index: 2;
            position: relative;
        }

        .member__section_group__group {
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            @include mixins.xl {
                flex-direction: row;
            }
        }
    }
}