@use 'variables';
@use 'mixins';

// Header desktop nav 
.nav__header_desktop {
    display: none;

    @include mixins.xl {
        display: flex;
        flex: 2 auto;
    }

    .nav__header_desktop__navlist {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .nav__header_desktop__navitem {
            padding: 0 1.5em;

            &:nth-last-child(2) {
                margin-left: auto;
            }

            &:last-child {
                padding: 0;

                .nav__header_desktop__navlink {
                    border-radius: 1.375rem;
                    width: 6.5rem;
                    height: 2.875rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    background-color: variables.$sapphire;
                    color: variables.$white;
                    border-bottom: none !important;

                    &:hover,
                    &:focus {
                        background-color: variables.$blackrussian;
                    }
                }
            }

            .nav__header_desktop__navlink {
                padding: 0;
                font-weight: 600;
                color: variables.$sapphire;
                text-decoration: none;
                display: inline-block;
                border-bottom: solid 2px transparent;

                &:hover,
                &:focus {
                    cursor: pointer;
                    border-bottom: solid 2px;
                }
            }
        }
    }
}

// Header mobile nav
.nav__header_mobile {
    justify-content: flex-end;
    display: flex;
    flex: 2 auto;
    align-items: center;

    @include mixins.xl {
        display: none;
    }

    .nav__header_mobile__checkbox {
        display: none;

        &:checked {
            ~.nav__header_mobile__background {
                transform: scale(100);
            }

            ~.nav__header_mobile__menu {
                transform: translateX(0);
                visibility: initial;
                opacity: 1;
            }

            +.nav__header_mobile__label {
                .nav__header_mobile__span {

                    &:nth-child(1),
                    &:nth-child(5) {
                        transform-origin: right;
                    }

                    &:nth-child(1),
                    &:nth-child(6) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(2),
                    &:nth-child(5) {
                        transform: rotate(-45deg);
                    }

                    &:nth-child(2),
                    &:nth-child(6) {
                        transform-origin: left;
                    }

                    &:nth-child(3) {
                        left: -50%;
                        opacity: 0;
                    }

                    &:nth-child(4) {
                        left: 100%;
                        opacity: 0;
                    }
                }
            }
        }
    }

    .nav__header_mobile__label {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: variables.$white;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
        cursor: pointer;
        z-index: 12;
        display: flex;
        align-content: center;
        justify-content: center;

        &:hover {
            .nav__header_mobile__icon {
                transform: rotate(180deg);
            }

            .nav__header_mobile__span {
                &:nth-child(3) {
                    transform: translateX(-0.2rem) scale(1.05);
                }

                &:nth-child(4) {
                    transform: translateX(0.2rem) scale(1.05);
                }
            }
        }

        .nav__header_mobile__icon {
            display: inline-block;
            position: relative;
            width: 30px;
            display: flex;
            align-items: center;
            transition: transform 0.25s ease-in-out;

            .nav__header_mobile__span {
                position: absolute;
                height: 5px;
                width: 50%;
                background-color: variables.$blackrussian;
                transition: all 0.5s ease-in;

                &:nth-child(even) {
                    left: 50%;
                    border-radius: 0 0.7rem 0.7rem 0;
                }

                &:nth-child(odd) {
                    left: 0;
                    border-radius: 0.7rem 0 0 0.7rem;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    transform: translateY(-0.625rem);
                }

                &:nth-child(5),
                &:nth-child(6) {
                    transform: translateY(0.625rem);
                }
            }
        }
    }

    .nav__header_mobile__background {
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-image: linear-gradient(to right bottom, variables.$blackrussian, variables.$sapphire);
        z-index: 10;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        visibility: 0;
    }

    .nav__header_mobile__menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 11;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        overflow-y: scroll;

        .nav__header_mobile__navlist {
            text-align: center;
            list-style: none;

            .nav__header_mobile__navitem {
                width: 100%;
                margin: 1rem;
                counter-increment: list;

                .nav__header_mobile__navlink {
                    &::before {
                        content: '0' counters(list, '');
                        padding-right: 1.2rem;
                    }

                    &:link,
                    &:visited {
                        display: inline-block;
                        font-size: 2.5rem;
                        font-weight: 300;
                        padding: 1rem 1.5rem;
                        color: variables.$white;
                        text-decoration: none;
                        text-transform: uppercase;
                        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, variables.$white 50%);
                        background-size: 230%;
                        transition: all 0.4s;
                    }

                    &:hover,
                    &:active {
                        color: variables.$blackrussian;
                        background-position: 100%;
                        transform: translateX(1rem);
                    }
                }
            }
        }
    }
}

// Footer menu nav
.nav__footer_menu__title {
    color: variables.$blackrussian;
    font-weight: 700;
    font-size: 16px;
    padding: 0 0 20px;
}

.nav__footer_menu__navlist {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;

    .nav__footer_menu__navitem {
        padding: 0 0 15px 0;

        .nav__footer_menu__navlink {
            padding: 0;
            font-size: 0.875rem;
            color: variables.$sapphire;
            display: inline-block;
            font-weight: 500;
            border-bottom: solid 2px transparent;

            &:hover,
            &:active {
                color: variables.$tenne;
                border-bottom: solid 2px;
            }
        }
    }
}

// Footer bottombar nav
.nav__footer_bottombar {
    display: flex;
    justify-content: center;

    @include mixins.sm {
        justify-content: flex-end;
        flex: 1 auto;
    }

    .nav__footer_bottombar__navlist {
        flex-direction: row;

        .nav__footer_bottombar__navitem {
            padding: 0 0.5em;

            .nav__footer_bottombar__navlink {
                font-size: 0.875rem;
                color: variables.$sapphire;
                text-decoration: underline;
                display: inline-block;
                font-weight: 500;
            }
        }
    }
}