$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$montserrat: "Montserrat", sans-serif;

$blackrussian: rgba(17, 19, 41);
$sapphire: rgba(19, 27, 86);
$royalblue: rgba(43, 80, 236);
$elfgreen: rgba(16, 134, 112);
$tenne: rgba(205, 77, 0);
$white: rgba(255, 255, 255);
$black: rgba(0, 0, 0);