@use 'variables';

// Primary button
// Secondary button
// Just copy pasted it with different background color
// I am lazy
.button__primary,
.button__secondary {
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
    background-color: transparent;
    border: solid 1px variables.$sapphire;
    box-shadow: none !important;
    border-radius: 2px;
    color: variables.$sapphire;

    &:hover {
        background-color: variables.$sapphire;
        cursor: pointer;
        color: variables.$white;
        border-color: variables.$sapphire;
    }

    // Active state of button
    &.active {
        background-color: variables.$sapphire;
        border-color: variables.$sapphire;
        color: variables.$white;

        &:hover{
            background-color: variables.$blackrussian;
        }
    }
}

// Hero button
.button__hero {
    z-index: 1;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent !important;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;

    .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background-color: variables.$sapphire;
        border-radius: 1.625rem;

        .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: variables.$white;

            &.arrow {
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;

                &::before {
                    position: absolute;
                    content: '';
                    top: -0.25rem;
                    right: 0.0625rem;
                    width: 0.625rem;
                    height: 0.625rem;
                    border-top: 0.125rem solid variables.$white;
                    border-right: 0.125rem solid variables.$white;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .button__hero_text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: variables.$white;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
    }

    &:hover,
    &:focus,
    &:active {
        .circle {
            width: 100%;

            .icon {
                &.arrow {
                    background: variables.$white;
                    transform: translate(1rem, 0);
                }
            }
        }

        .button__hero_text {
            color: variables.$white;
        }
    }
}

// contact button
.button__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 3rem;
    transition: all 0.3s ease;
    border: none;
    padding: 1.125rem 1rem;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 1.625rem;
    color: variables.$white !important;

    &.signup {
        background-color: variables.$blackrussian;
    }

    &.login {
        background-color: variables.$sapphire;
    }

    &:hover {
        transform: scale(1.03);
        transition: all 0.3s ease;
    }

    &:not(:last-child) {
        margin-right: 1.25rem;
    }
}

// signup button and login
.button__signup,
.button__login {
    width: 100%;
    font-weight: normal;
    background-color: variables.$sapphire;
    color: variables.$white;
    height: 45px;
    appearance: none;
    border: none !important;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.2rem;

    &:hover,
    &:focus {
        background-color: variables.$blackrussian;
        cursor: pointer;
        box-shadow: none;
    }
}

// auth buttons
.button__auth {
    background-color: variables.$white !important;
    width: 100%;
    border: 1px solid variables.$icecream;
    color: variables.$black !important;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    .button__auth_icon {
        width: 25px;
        height: 100%;

        svg {
            width: 100% !important;
            height: 100% !important;
        }
    }

    .button__auth_text {
        font-weight: 600;
        font-size: 0.875rem;
        margin-left: 1rem;
    }

    &:hover,
    &:focus {
        border-color: variables.$sapphire;
    }
}

// default submit button
.button__settings {
    font-weight: 600;
    font-size: 0.875rem;
    appearance: none;
    padding: 0.75rem 1.75rem;
    background-color: variables.$sapphire;
    color: variables.$white;
    border: none !important;
    border-radius: 2px;
    line-height: 1.2rem;

    &:hover,
    &:focus {
        box-shadow: none;
        cursor: pointer;
        background-color: variables.$blackrussian;
    }
}

// button muted
.button__muted {
    background-color: transparent;
    border-radius: 2px;
    border: solid 1px variables.$icecream;
    font-size: 0.875rem;
    color: variables.$blackrussian;
    height: 2rem;
    box-shadow: none !important;

    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
        background-color: variables.$sapphire;
        color: variables.$white;
        cursor: pointer;
    }

    // so the 2 buttons have some spacing
    &+.button__muted {
        margin-left: 0.5rem;
    }
}