@use 'variables';

// company in dashboard
.company__dashboard {
    position: relative;

    .company__dashboard_title {
        font-size: 1.75rem;
        line-height: normal;
        padding-bottom: 1rem;
        font-weight: 900;
        color: variables.$blackrussian;
    }

    .company__dashboard_options {
        padding-bottom: 2rem;

        & > button:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .company__dashboard_content {
        height: auto;
    }
}