@use 'variables';
.contact__section {
    padding-bottom: 4em;
    width: 100%;
    background-color: variables.$white;
    position: relative;

    .contact__section_container {
        position: relative;

        .contact__section_wrapper {
            border-radius: 1em;
            padding: 3rem 2.5rem;
            background-image: linear-gradient(to top right, variables.$vanilla 0%, variables.$vanilla 100%);
            position: relative;
            overflow: hidden;

            .contact__section_content {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                max-width: 45rem;

.contact__section_content__text {
    color: variables.$black;
margin-bottom: 1.5rem;
                }

                
    .contact__section_contact_infotext {
    color: variables.$black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.contact__section_contact_infotext {
    color: variables.$black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    svg {
        margin-right: 8px;
    }
}

@media only screen and (max-width: 767px) {
    .contact__section_contact_infotext:last-child svg {
        margin-top: -28px;
    }
}
            }
        }
    }
}

// page for contact
.contact__page {
    position: relative;

    .contact__page_banner {
        position: relative;
        overflow: hidden;
        background-color: variables.$blackrussian;
        height: 120px;
    }

    .contact__page_container {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .contact__page_title {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            color: variables.$blackrussian;
        }

        .contact__page_intro {
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 2rem;
            color: variables.$black;
        }
    }
}