@use 'variables';

// contact section
.contact__section {
    padding-top: 4em;
    padding-bottom: 4em;
    width: 100%;
    background-color: variables.$white;
    position: relative;

    .contact__section_container {
        position: relative;

        .contact__section_wrapper {
            border-radius: 1em;
            padding: 3rem 2.5rem;
            background-image: linear-gradient(to top right, variables.$vanilla 0%, variables.$vanilla 100%);
            position: relative;
            overflow: hidden;

            .contact__section_content {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                max-width: 45rem;

                .contact__section_content__title {
                    color: variables.$sapphire;
                    font-size: 3em;
                    font-weight: 700;
                    line-height: 1.25;
                    margin-bottom: 2rem;
                    overflow-wrap: break-word;
                }

                .contact__section_content__text {
                    color: variables.$black;
                    margin-bottom: 1.5rem;
                }

                .contact__section_content_button {
                    color: variables.$black;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

// page for contact
.contact__page {
    position: relative;

    .contact__page_banner {
        height: 120px;
        background-color: variables.$blackrussian;
        position: relative;
        overflow: hidden;
    }

    .contact__page_container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: variables.$black;

        .contact__page_title {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            color: variables.$blackrussian;
        }

        .contact__page_intro {
            font-size: 1rem;
            font-weight: normal;
        }

        h2 {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }
}