@use 'variables';

.dashboard__page {
    background-color: variables.$cultured;

    .dashboard__page_menu {
        position: relative;
    }

    .dashboard__page_content {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}