@use 'variables';
@use 'mixins';

// section
.expertise__section {
    padding-top: 4em;
    padding-bottom: 4em;
    width: 100%;
    background-color: variables.$white;
    position: relative;

    .expertise__section_container {
        position: relative;

        .expertise__section_title {
            font-size: 2.5em;
            color: variables.$sapphire;
            padding-bottom: 0.75em;
        }

        .expertise__section_group__card {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            align-items: stretch;
            width: 100%;

            @include mixins.md {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mixins.xl {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

// page expertise
.expertise__page {
    position: relative;

    .expertise__page_banner {
        position: relative;
        overflow: hidden;
        background-color: variables.$blackrussian;
        height: 140px;
    }

    .expertise__page_container {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .expertise__page_title {
            font-size: 2.5rem;
            color: variables.$blackrussian;
            margin-bottom: 0.875rem;
        }

        .expertise__page_intro {
            font-size: 1rem;
            font-weight: normal;
        }

        h4 {
            color: variables.$black;
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1rem;
            color: variables.$black;
            margin-bottom: 1rem;
        }
    }
}