@use 'variables';
@use 'mixins';

// general form styles
.form__text_field {
    font-size: 0.875rem;
    width: 100%;
    margin-bottom: 1.25em;
    padding: 0.625rem 0.875rem;
    color: variables.$black;
    border-radius: 2px;
    background-color: variables.$white;
    background-clip: padding-box;
    transition: border-color .15s, background-color .15s;

    &.error {
        border-color: variables.$darkred !important;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:focus {
        border-color: variables.$sapphire;
        outline: none;
        box-shadow: none;
    }
}

.form__select_menu {
    background: variables.$white url("/img/double_caret.png") no-repeat right 5px top 50%;
    background-size: 14px 16px;
    border-radius: 2px;
    margin-bottom: 1.25em;
    width: 100%;
    color: variables.$black;
    font-size: 0.875rem;
    padding: 11px 14px;
    padding-right: 1.5em;
    appearance: none;

    &.error {
        border-color: variables.$darkred !important;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
        border-color: variables.$sapphire;
        box-shadow: none;
    }
}

.form__label {
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.03em;
    color: variables.$black;
    font-weight: bold;
    margin-bottom: .5em;
}

// general error in form
.form__error {
    color: variables.$darkred;
    font-size: 0.875rem;
    margin: -0.75rem 0 0.875rem;
    width: 100%;
}

// disability
.form__disability_container {
    margin-bottom: 1rem;

    .form__disability_title {
        padding-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .form__disability_text {
        color: variables.$black;
        font-size: 0.875rem;
    }
    
    .form__disability_option {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 0.25rem;

        &__checkbox {
            margin: 0;
            box-shadow: none;
            border-radius: 2px;
        }

        &__label {
            font-size: 0.875rem;
            color: variables.$black;
            margin-left: 5px;
        }
    }
}


// login form
.form__login {
    position: relative;

    .form__login_option {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;

        .form__login_option__checkbox {
            margin: 0;
            box-shadow: none;
            border-radius: 2px;
        }

        .form__login_option__label {
            font-size: 0.875rem;
            color: variables.$black;
            margin-left: 5px;
        }
    }
}

// register form
.form__signup {
    position: relative;
}

// form to update password and email in dashboard
.form__settings,
.form__research {
    position: relative;
    max-width: 25rem;
}