@use 'variables';

*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    font-family: variables.$montserrat;
    line-height: 1.8;
    font-size: 1em;
    color: variables.$royalblue;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: variables.$blackrussian;
    font-family: inherit;
}

// This is so the elements in root can make use of height: 100% too
#root {
    height: 100%;
}