@use 'variables';

.site__header_nav_is__open {
    overflow: hidden;
}

.site__header {
    background-color: variables.$white;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .site__header_container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
}