@use 'variables';
@use 'mixins';

.login__page {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    background-color: variables.$white;

    .login__container {
        .login__page_title {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .login__page_panel {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .login__page_column {
                flex: 0 0 auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include mixins.lg {
                    width: 50%;
                }

                .login__page_content {
                    width: 100%;
                    max-width: 25rem;

                    .login__page_seperator {
                        display: flex;
                        border-bottom: 1px solid variables.$icecream;
                        color: variables.$black;
                        height: 0;
                        margin: 2.5rem 0;
                        text-align: center;

                        @include mixins.lg {
                            display: none;
                        }
                    
                        .login__page_seperator__text {
                            width: 40px;
                            background-color: variables.$white;
                            margin: auto;
                            font-size: 18px;
                            margin-top: -15px;
                        }
                    }
                }
            }

            .login__page_authentication {
                @include mixins.lg {
                    border-right: thin solid variables.$icecream;
                }
            }

            .login__page_external {
                position: relative;

                @include mixins.lg {
                    &::before {
                        position: absolute;
                        left: 0;
                        background-color: variables.$white;
                        content: 'or';
                        color: variables.$black;
                        margin-left: -8px;
                        padding: 8px 0;
                        top: 20%;
                    }
                }
            }
        }
    }
}