@use 'variables';

.privacypolicy__page {
    position: relative;
    
    .privacypolicy__page_banner {
        position: relative;
        overflow: hidden;
        background-color: variables.$blackrussian;
        height: 120px;
    }

    .privacypolicy__page_container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: variables.$black;

        .privacypolicy__page_list {
            margin-bottom: 1rem;

            .privacypolicy__page_list__item {
                display: flex;

                .privacypolicy__page_list__ordinal {
                    min-width: 3rem;
                }
            }
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }

        h4 {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        h5 {
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }
}