@use 'variables';

// research in dashboard
.research__dashboard {
    position: relative;

    .research__dashboard_title {
        font-size: 1.75rem;
        color: variables.$blackrussian;
        line-height: normal;
        font-weight: 900;
        padding-bottom: 1rem;
    }

    .research__dashboard_options {
        padding-bottom: 2rem;

        & > button:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .research__dashboard_content {
        height: auto;
    }
}