@use 'variables';

// general style to make table responsive
// this just adds a horizontal scroll when items overflow
.table__responsive {
    display: block;
    overflow-x: auto;

    &>div,
    &>table {
        width: 100%;
    }
}

// hover effect for a table
// just add this class to the table itself
.table__hover {
    &>tbody {
        &>tr {
            &:hover {
                color: variables.$charcoal !important;
                background-color: variables.$lightlavender !important;
            }
        }
    }
}

// general table view
.table__general {
    background-color: variables.$white;
    box-shadow: 0 2px 5px -2px variables.$lightlavender;
    position: relative;
    color: variables.$blackrussian;

    .table__general_head {
        border-bottom: 1px solid variables.$cultured;
        font-size: 1rem;
        font-weight: bold;
        user-select: none;
    }

    .table__general_body {
        position: relative;
    }

    .table__general_item {
        border-bottom: 1px solid variables.$cultured;
        display: table-row;

        &:last-child {
            border-bottom: none;
        }

        .table__general_item__cell {
            font-size: 0.875rem;
            padding: 1rem;
            white-space: nowrap;
            font-style: normal;
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            text-overflow: ellipsis;

            &:first-of-type {
                padding-left: 1.667rem;
            }
        }
    }
}