@use 'mixins';

.user__card {
    width: 100%;
    position: relative;

    .user__card_group {
        display: grid;
        gap: 1.5em;
        grid-template-columns: repeat(1, 1fr);

        @include mixins.md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mixins.lg {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mixins.xl {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}