// breakpoints
$screen-xs-min: 320px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// fonts
$montserrat: "Montserrat", sans-serif;

// colors
$blackrussian: rgba(17, 19, 41);
$sapphire: rgba(19, 27, 86);
$sapphiredark: rgba(10, 15, 50);
$royalblue: rgba(43, 80, 236);
$elfgreen: rgba(16, 134, 112);
$tenne: rgba(205, 77, 0);
$white: rgba(255, 255, 255);
$black: rgba(0, 0, 0);
$cultured:rgba(241, 242, 247);
$lightlavender: rgba(233, 232, 239);
$icecream: rgba(216, 218, 224);
$charcoal: rgba(33, 37, 41);
$limegreen: rgba(50, 178, 89);
$darkred: rgba(175, 30, 72);